@use '../../styles/variables' as *;

.highlights-panel {
  border: 1px solid rgba($text, 0.15);
  padding: $spacer;
  border-radius: $radius;
  background: $card-bg;

  h3 {
    margin-bottom: $spacer;
    color: $text;
    font-weight: 600;
  }

  > div {
    margin-top: 8px;

    &:first-of-type {
      margin-top: 0;
    }

    strong {
      display: block;
      color: $primary;
      font-weight: 600;
      margin-bottom: 4px;
    }

    div {
      color: $text;
      font-size: 0.95rem;
    }
  }

  @media (min-width: 881px) {
    margin-top: 3rem;
  }
}
